/*Setting the marin for the whole page*/
* {
    margin:auto;
    padding: auto;
    background-color:aliceblue;
}

.logo{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    width: 160px;
    cursor: pointer;
}
/* Navigation bar setting for all */
nav ul{
    list-style-type:circle;
    text-align: center;
    padding: 5px 10px;
    margin: 0;
    margin-top: 10px;
}
nav ul li{
   display:inline-block;
}  
nav ul li a{
    text-decoration:underline;
    color:#27802c;
    padding: 2px 3px;
    font-family: "Roboto", sans-serif;
    font-size: 15px; 
}
nav ul li.activeMain a:hover{
    border: 1px solid #1b3f0d;
}
nav ul li a:hover{
    border: 1px solid #1b4b08;
}


/* HOME page content settings*/
.homeContent{
    margin-left: 5%;
    margin-top: 8px; 
}
.homeContent .btn{
    display: inline-block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing:border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,28,0.15);
}
.homeContent h1{
    font-size: 20px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #232d60;
    margin-left: 40px;
}
.homeContent p{
    font-size: 20px;
    color: #0a0a63;
    text-decoration:initial;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
}
.showCase{
   display: flex;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
    
   /*  margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px; 
    margin-bottom: 50px; */
}
.showCase img{
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-style:double;
    width: 300px;
    border-radius: 50%;
}


/* about.html */
.aboutContent{
    margin-left: 5%;
    margin-top: 0%; 
}
.aboutContent .btn{
    display: inline-block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing:border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,28,0.15);
}
.aboutContent p{
    font-size: 20px;
    color: #0a0a63;
    text-decoration:initial;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 15px;
}

/* products.html */
.productsContent{
  /*   display: inline-block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 20px;
    padding: 1px 2px;
    box-sizing:center;
    text-decoration: none;
    color: #fff;
    box-shadow: 5px 10px 10px rgba(94,28,28,0.15);
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px; */

}
.productsContent h1{
    font-size: 20px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #554720;
    margin-left: 5px;
    margin-right: 5px;
}
.productsContent a{
    font-size: 15px;
    color: #0a0a63;
    text-decoration:initial;
    margin: center;
}
.productsContent .btn1{
    display: inline-block;
    background: linear-gradient(45deg, #00A170, #FFA500);
    border-radius: 10px;
    padding: 1px 2px;
    box-sizing:border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,28,0.15);
    margin-left: 5px;
    margin-right: 5px;

}
.productsContent .btn2{
    display: inline-block;
    background: linear-gradient(45deg, #00A170, #FFA500);
    border-radius: 10px;
    padding: 1px 2px;
    box-sizing:border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,28,0.15);
   /*  margin-left: 5px;
    margin-right: 5px; */
}

/* Contact page setting */
.contactContent{
    margin-left: 5%;
    margin-top: 0%; 
}
.contactContent .btn{
    display: inline-block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing:border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,28,0.15);
}
.contactContent p{
    font-size: 20px;
    color: #0a0a63;
    text-decoration:initial;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

/* Footer page seeting*/

.footerPage ul li{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:40px;
    background-color:#E9897E;
    text-align: center; 
}

.footerPage a {
    text-decoration: none;
    padding-right: 2px;
    font-size: 12px;
    background:#E9897E;
}

.footerPage img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    width: 12px;
    margin-top:10px;
    background:#E9897E;
}


/*Image listing for products and price list*/
.page{
    margin-bottom: 50px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    /* margin-bottom: 20px; */
  }
  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 768px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

    /* Responsive layout - makes a two column-layout instead of four columns */
 @media screen and (max-width: 768px) {
    .page {
      flex: 50%;
      max-width: 50%;
    }
  } 
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
   @media screen and (max-width: 600px) {
    .page {
      flex: 100%;
      max-width: 100%;
    } 
}